:root{
    --texto-principal:#ffffff;
    --cor-secundaria:#c0c0c0;
    --Botão-azul:#ffffff;
    --cor-de-fundo:#000000;
    --fonte-prinipal:''
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-secundaria);
    font-family: var(--fonte-prinipal);
    font-size: 16px;
    font-weight: 400;

}

*{

margin:0;
padding:0;

}

.principal{

    background-image:url("./img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.container{
    height: 100vh;
    display:grid ;
    grid-template-columns: 50% 50%;
    

}
.container--titulo{
    align-items: self-end;
    font-size: 28px;
    font-weight: 300;
}

.texto1{


align-items: center;


}
.container--botão{

background-color: var(--Botão-azul);
padding: lem;
border-radius: 5px;
color: var(--fonte-prinipal);
display:block;
text-decoration: none;
margin-bottom: lem;

}
.container--botao_secundario{

background-color: var(--cor-secundaria);
border: 2px solid var(--cor-secundaria);

}


.rodape{
    text-align: center;
    margin: 5em 3em;
    
}

.rodape--lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;

}

.lista--limk a{
    text-decoration: none;
    color: var(--texto-principal);
    font-size: 14px;
    margin-left: 1em;
}